@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Righteous&display=swap");

/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Righteous', cursive; */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

/* Navbar Styling */
.navbar .navbar-brand {
  font-family: "Righteous", cursive;
  font-size: 35px;
}

.form-inline a {
  text-decoration: none;
  color: #2400ff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

/* FOOTER SECTION */
#footer-section {
  background: black;
  color: white;
  padding: 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

.footer-grid .p-name {
  font-family: "Righteous", cursive;
  margin-top: 25px;
}

.footer-grid .other-links {
  padding: 10px;
  margin-top: 10px;
}

.other-links li {
  list-style-type: none;
  padding-bottom: 15px;
}

.other-links a {
  text-decoration: none;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.social-media-links {
  padding: 10px;
  margin-top: 10px;
}

.social-media-links p {
  padding-bottom: 15px;
  font-family: "Josefin Sans", sans-serif;
}

.social-media-links a {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 50%;
  margin-right: 5px;
  text-align: center;
}

.social-media-links a:hover {
  color: white;
  background: black;
}

/* Responsiveness of all sections */
@media (max-width: 425px) {
  .footer-grid {
    grid-template-columns: 2fr;
  }
}
