@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Righteous&display=swap");

/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Righteous', cursive; */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

/* Navbar Styling */
.navbar .navbar-brand {
  font-family: "Righteous", cursive;
  font-size: 35px;
}

.form-inline a {
  text-decoration: none;
  color: #2400ff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

/* Top Image Section Styling */
.top-section-image img {
  position: relative;
  max-width: 100%;
}

.top-section-image h1 {
  position: absolute;
  top: 200px;
  left: 150px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  font-weight: bold;
}

/* Options Section Styling */
.options-section {
  display: flex;
}

.options-section .radio-option {
  padding: 10px 40px;
}

.radio-option input {
  font-size: 15px;
  border: 1px solid #e20b8c !important;
}

.radio-option label {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

/* Personal Info Form */
.personal-info-form {
  margin: 15px auto;
  max-width: 75%;
}

.personal-info-form form label {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.personal-info-form form input[type="text"] {
  border: 2px solid #bcb4b9;
  width: 100%;
  padding: 6px;
  border-radius: 7px;
}

.personal-info-form form input[type="email"] {
  border: 2px solid #bcb4b9;
  width: 100%;
  padding: 6px;
  border-radius: 7px;
}

.personal-info-form form input[type="date"] {
  border: 2px solid #bcb4b9;
  width: 100%;
  padding: 6px;
  border-radius: 7px;
}

/* .personal-info-form form .file {
  padding: 25px;
  border-radius: 3px;
  background: rgba(196, 196, 196, 0.42);
  border: none;
} */

.personal-info-form form input:focus {
  border: 2px solid rgba(226, 11, 140, 0.6) 19.34%;
}

.personal-info-form form .button {
  background: #e20b8c;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 124px;
  border: none;
  float: right;
}

.personal-info-form form .button:focus {
  outline: none;
}

/* FOOTER SECTION */
#footer-section {
  background: black;
  color: white;
  padding: 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

.footer-grid .p-name {
  font-family: "Righteous", cursive;
  margin-top: 25px;
}

.footer-grid .other-links {
  padding: 10px;
  margin-top: 10px;
}

.other-links li {
  list-style-type: none;
  padding-bottom: 15px;
}

.other-links a {
  text-decoration: none;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.social-media-links {
  padding: 10px;
  margin-top: 10px;
}

.social-media-links p {
  padding-bottom: 15px;
  font-family: "Josefin Sans", sans-serif;
}

.social-media-links a {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 50%;
  margin-right: 5px;
  text-align: center;
}

.social-media-links a:hover {
  color: white;
  background: black;
}

/* Responsiveness of all sections */
@media (max-width: 425px) {
  .footer-grid {
    grid-template-columns: 2fr;
  }
}
